.wsublock-add {
	border: 1px solid #ccc;
	padding: 50px 0 50px 0;
	height: 100px;
	width: 30%;
	background: #efefef;
	float: left;
	margin-right: 10px;
}

.wsublock-add:hover {
	cursor: pointer;
	background: #d1cbc7;
}

#wsublock-wrapper .mce-tinymce {
	border: 1px solid #eee;
	margin-top: 10px;
}

.wsublock-current-container {
	width: 100%;
	border: 1px solid #eee;
	margin-bottom: 10px;
	padding: 10px 0 10px 0;
}